.site--header {

  .navigation {
    margin-top: 34px;
    margin-bottom: 34px;
  }

  .section-container {
    max-width: 1164px;
  }

  .top-logo {
    margin-right: 56px;
    line-height: 1;
  }

  .nav {

    .menu-toggler {
      border: none;
      background-color: unset;
      flex-direction: column;
      padding: 0;

      .bar {
        background-color: #1A3C34;
        padding: 3px 29px;
        margin: 6px 0;
        border-radius: 2px;

        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    li {
      margin: 0 25px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 8px;
      }

      a {
        color: #1A3C34;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }

  .social-media {

    li {
      padding: 0 25px;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 8px;
      }

      a {
        color: #1A3C34;
        display: inline-block;
        font-size: 14px;
      }
    }

    .fab {
      font-size: 21px
    }
  }


  .banner {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;

    article {
      margin-bottom: 197px;
      width: 100%;
      max-width: 586px;

      h1 {
        font-family: 'Sofia Pro Bold', sans-serif;
        font-size: 64px;
        color: #fff;
        line-height: 64px;
        margin-top: 0;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        letter-spacing: 0.18px;
        color: #fff;
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 34px;
      }

      a {
        font-family: 'Sofia Pro Bold', sans-serif;
        font-size: 20px;
        line-height: 20px;
        color: #fff;
        padding: 18px 46px 17px 47px;
        text-decoration: none;
        background-color: #1A3C34;
        transition: all .3s ease-in-out;
        display: inline-block;

        &:hover {
          color: #1A3C34;
          background-color: #fff;
        }
      }
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.2);
  transition: all .1s ease-in-out;
  overflow-x: hidden;
  max-width: 0;
  visibility: hidden;

  &.show {
    visibility: visible;
    max-width: 1000px;
    overflow-x: visible;

    .nav {

      li:first-of-type {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .section-inner {
    height: 100vh;
    background-color: #fff;
    width: 80%;
  }

  ul {
    padding: 0;

    li {
      border-bottom: 1px solid  #11342C;

      a {
        font-size: 16px;
        padding: 7px 20px;
        display: block;
        color: #1A3C34;

        &.close {
          display: inline-block;
        }
      }
    }
  }

  .logo {
    background-color: #1A3C34;

    a {
      display: block;
      line-height: 1;
      padding: 65px 0;
      text-align: center;
    }
  }

  .social {

    li {
      border: none;

      a {
        font-size: 24px;
        padding: 0 20px;
      }
    }
  }
}